/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family: 'Montserrat', sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1.25; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1140px;width:100%;margin:0 auto;
    padding: 0 15px;position:relative;z-index:1;}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {flex-grow: 0;  flex-shrink: 0;  flex-basis: auto;}
.main{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
li {
    a {
        color: #000;
    }
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

a {
    text-decoration: none;
    color: #fff;
}
.header {
    background-color: #333;
    position: relative;
    z-index: 999;
    &__row {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        margin: 45px 50px 45px 0;
        a {
            transition: .3s;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__logo {

        margin: 0 auto;
        svg {
            width: 216px;
            height: 52px;
        }
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 1.5;
        width: 33%;
        &-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(22% - 10px);
            margin: 0 0 0 6px;
            svg {
                &:hover {
                    border-bottom: none;
                }
            }
        }
        a {
            transition: .3s;
            &:hover {
                opacity: 0.5;
                svg {
                    opacity: 0.5;
                }
            }
        }
    }
    &__search {
        svg {
            width: 24px;
            height: 24px;
            margin: 0 13px 0 0;
        }
        display: flex;
        align-items: center;
        width: calc(25% - 10px);
    }
}
.hamburger {
    display: none;
}
.banner {
    max-width: 1920px;
    margin-top: -111px;
    height: 100vh;
    & > img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__title {
        font-family: 'Noto Serif', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.361;
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        a {

            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.166;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            border: 1px solid #FFFFFF;
            background-color: #333;
            padding: 15px 35px;
            transition: .3s;
            &:hover {
                border: 1px solid #333;
                background-color: #fff;
                color: #333;
            }
        }
    }
    &__row {
        border-top: 1px solid #fff;
        position: relative;
    }
    &__brands {
        display: flex;
        margin: 30px 0;

        a {
            padding: 0 15px;
            border-right: 1px solid #fff;
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
    }
}
.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #333;

}
.title {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.366;
    text-align: center;
    color: #333;
}
.goods {
    background-color: #e5e5e5;
    padding: 50px 0 90px;
    .subtitle {
        margin: 55px 0 15px;
    }
    &__list {
        margin: 65px 0 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.166;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333;
            transition: 0.3s;
        }
    }
}
.list__item {
    margin-bottom: 20px;
}
.item {
    &__main-border {
        height: 55px;
        width: 165px;
        border: 1px solid #D6D6D6;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 6px;
        right: 6px;
        transition: .3s;
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #333;
            width: 171px;
            height: 61px;
            a {
                transition: 0s;
                color: #fff;
            }
        }
    }
    &__first-border {
        height: 55px;
        width: 165px;
        border: 1px solid #D6D6D6;
        background-color: #f9f9f9;
        position: relative;
    }
    &__black {
        width: 165px;
        height: 61px;
        display: none;
    }
}
.goods__assortment {
    margin: 35px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    span {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        transition: .3s;
    }
}
.assortment__unit {
    position: relative;
    margin: 0 15px 30px;
    width: calc(33.33% - 30px);
    transition: .3s;
    &:hover {
        opacity: 0.5;
        span {
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}
.our-salons {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 100px 0 100px;
    .subtitle, .title {
        color: #fff;
    }
    .subtitle {
        margin: 4px 0 17px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
        color: #fff;
        margin: 47px auto 60px;
        max-width: 75%;
    }
    &__btn {
        text-align: center;
        margin: 0 auto;
        a {
            display: inline-block;
            background-color: #fff;
            padding: 14px 34px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.166;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333;
            border: 1px solid #fff;
            transition: .3s;
            &:hover {
                color: #fff;
                background-color: #333;
            }
        }
    }
}
.advices {
    background-color: #e5e5e5;
    padding: 100px 0 80px;
    .subtitle {
        margin: 25px 0 16px;
    }
    &__block {
        display: flex;
        margin: 45px -15px 25px;
        a {

            margin: 15px;
            position: relative;
            transition: .3s;
            &:hover {
              opacity: 0.5;
                span {
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }
        span {
            position: absolute;
            color: #fff;
            bottom: 42px;
            right: 0;
            left: 0;
            text-align: center;
            max-width: 60%;
            margin: 0 auto;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 1.4;
            transition: .3s;
        }
    }
    &__btn {
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.166;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            background-color: #333;
            color: #fff;
            padding: 14px 33px;
            border: 1px solid #333;
            transition: .3s;
            &:hover {
                color: #333;
                background-color: #fff;
            }
        }
        margin: 76px auto 0;
        text-align: center;

    }
}
.networks {
    background-color: #e5e5e5;
    padding: 59px 0 91px;
    .title {
        margin: 16px 0;
    }
    &__pic {
        width: 100%;
        margin: 60px 0;
        display: flex;
        flex-wrap: wrap;
        a {
            transition: .3s;
            width: 25%;
        }
        a:hover {
            opacity: 0.5;
        }
    }
}
.video {
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-left: 21px solid red;
    border-bottom: 14px solid transparent;
    position: absolute;
    top: 22px;
    left: 28px;
    &__pic {
        position: relative;
        width: 50%;
    }
    &-circle {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        pointer-events: none;
    }
}
.newsletter {
    background-color: #333;
    padding: 100px 0 69px;
    .subtitle, .title {
        color: #fff;
    }
    .subtitle {
        margin: 3px 0 16px;
    }
    &__block {
        display: flex;
        justify-content: center;
        max-width: 811px;
        margin: 50px auto;
        padding-right: 36px;
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 56%;
        margin: 5px 0 0;
        svg {
            width: 17px;
            height: 17px;
            margin-right: 16px;
            transition: .3s;
        }
        span {
            transition: .3s;
        }
        a {
            &:hover {
                span {
                    opacity: 0.5;
                }
                svg {
                    opacity: 0.5;
                }
            }
        }
    }
    &__btn-wrap {
        padding: 14px 15px;
        border: 1px solid #fff;
        margin-top: 10px;
    }
}
.btn__white-wrap {
    padding: 20px 0 20px 22px;
    background-color: #fff;
    display: flex;
    input {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.142;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333;
        padding: 15px 20px 14px 20px;
        background-color: #fff;
        border: 1px solid #D6D6D6;
        width: 200px;
        transition: .3s;
        &:hover {
            border: 1px solid #333;
        }
        &:focus {
            border: 1px solid #333;
        }
    }
    a {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff;
        padding: 13px 34px;
        background-color: #333;
        margin: 0 22px 0 15px;
        border: 1px solid #333;
        transition: .3s;
        &:hover {
            background-color: #fff;
            color: #333;
        }
    }
}
.footer {
    background-color: #e5e5e5;
    padding: 53px 0 0;
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 0 0 -15px;
        border-bottom: 1px solid #333333;
        margin: 30px -15px 0;
    }
    &__unit {
        width: 255px;
        margin: 0 15px 43px;
        display: flex;
        flex-direction: column;
        svg {
            height: 20px;
            width: 20px;
        }
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #333;
            margin-bottom: 15px;
        }
    }
    .subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333;
        padding-bottom: 10px;
        border-bottom: 1px solid #333333;
        text-align: left;
        margin-bottom: 30px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 1.5;
        color: #333;
    }
    img {
        margin: 26px 16px 0 0;
    }
    &__contacts {
        a {
            display: flex;
            align-items: center;
            margin-bottom: 14px;
        }
        svg {
            margin-right: 19px;
        }
    }
    &__networks {
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            height: 26px;
            width: 26px;
            fill: #333333;
        }
    }
    a {
        transition: .3s;
        &:hover {
            opacity: 0.6;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 21px;
        span, a {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 1.5;
            color: #333;
            transition: .3s;
            margin-bottom: 20px;
        }
        a {
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
.catalog {
    background-color: #e5e5e5;
    padding-bottom: 100px;
    &__box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 -13px;
        padding: 0 -13px;
        &-border {

        }
    }
    &__inner {border-bottom: 1px solid #d6d6d6;
        &:nth-last-child(-n+3) {
            border-bottom: none;
        }
    }
    &__unit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 13px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: .3s;
        &:hover {
            border: 1px solid #333;
           img {
               opacity: 0.6;
           }
        }
        img {
            margin: 35px 35px 0;
            transition: .3s;
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.5;
        color: #333;
        margin: 25px 0 10px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.4;
        color: #333;
    }
    &__btn {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        padding: 9px 19px;
        background-color: #333;
        border: 1px solid #333;
        margin: 18px 0 35px;
        transition: .3s;
        &:hover {
            background-color: #fff;
            color: #333;
        }
    }
}
.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.166;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
    padding: 14px 34px;
    background-color: #333;
    transition: .3s;
    &:hover {
        background-color: #fff;
        border: 1px solid #333;
        color: #333;
    }
    &__wrap {
        display: flex;
        justify-content: center;
    }
}
.catalog__box-wrap {
    margin-bottom: 100px;
    .btn__wrap {
        margin-top: 2px;
    }
}
.filter {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    &__item {
        width: calc(16.66% - 30px);
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #D6D6D6;
        transition: .3s;
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }
        img {
            transition: .3s;
        }
        &:hover {
            border-bottom: 1px solid #333;
            img {
                opacity: 0.6;
            }
        }
    }
}
.catalog__details {
    max-width: 920px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 51px 0 91px;
}
.col1 {
    max-width: 540px;
    a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.166;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333;
        border-bottom: 1px dashed #333;
        padding-bottom: 4px;
        transition: .3s;
        &:hover {
            opacity: 0.6;
        }
    }
}
.col2 {
    max-width: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__row {
        display: flex;
        justify-content: space-between;
    }
    a {
        text-align: center;
        span {
            color: #000;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.5;
        }
    }
}
.details {
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg,rgba(299,299,299,0) 0,#e5e5e5 82.29%);
            z-index: 1;
        }
    }
    &__unit {
        width: 50%;
        margin-bottom: 30px;
        img {
            margin-bottom: 15px;}
        span {
            display: block;
        }
    }
}
.product {
    background-color: #e5e5e5;
    padding: 59px 0 61px;
    &__menu {
        padding-bottom: 54px;
        display: flex;
        justify-content: center;
        a {
            border-bottom: 1px solid #333;
            transition: .3s;
            &:hover {
                opacity: 0.6;
            }
        }
        &-item, a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.5;
            color: #333;
        }
        &-slash {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            margin: 0 15px;
        }
    }
    &__card {
        display: flex;
        justify-content: space-between;
        padding: 0 -15px;
        margin: 0 -15px 63px;
    }
    &__img-wrap, &__info-wrap {
        width: calc(50% - 30px);
        margin: 0 15px;
    }

    &__img-small {
        display: flex;
        justify-content: space-between;
        padding: 0 -15px;
        margin: 0 -15px;
        a {
            width: calc(33.33% - 30px);
            margin: 30px 15px 0;
            img {
                transition: .3s;
            }
            &:hover {
                img {
                    opacity: 0.6;
                }
            }
        }
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.166;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333;
    }
    &__row {
        border-bottom: 1px solid #D6D6D6;
        margin: 30px 0;
        padding-bottom: 30px;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.5;
            color: #979797;
            &:hover {
                color: #333;
            }
        }
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5;
        color: #333;
    }
    &__price {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #333;
        margin: 31px 0 40px;
    }
    &__info {
        border: 1px solid #D6D6D6;
        margin: 10px;
        padding: 36px 15px 40px 30px;
        &-wrap {
            border: 1px solid #D6D6D6;
        }
    }
    &__btn {
        a {
            padding: 9px 19px;
            font-size: 16px;
        }
        &-black {
            margin-right: 29px;
        }
        &-white {
            border: 1px solid #333;
            background-color: #f9f9f9;
            color: #333;
            transition: .3s;
            a {
                padding: 10px 20px;
            }
            &:hover {
                background-color: #333;
                color: #fff;
            }
        }
    }
    .subtitle {
        margin: 38px 0 16px;
        font-size: 19px;
    }
}
.details__title {
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 1.4;
    color: #333;
    margin-bottom: 30px;
}
.contacts {
    background-color: #e5e5e5;
    padding: 60px 0 39px;
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.166;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333;
        margin: 7px 0 45px;
    }
    &__block {
        display: flex;
        padding: 0 -63px;
        margin: 0 -63px;

        &-unit {
            margin: 0 63px 42px;
            a {
                color: #333;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                transition: .3s;
                &:hover {
                    opacity: 0.6;
                }
                svg {
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    &__map {
        display: block;
        padding-top: 60px;
        border-top: 1px solid #d6d6d6;
    }
}
.unit__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #333;
    margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
    .header__row {
        display: none;
    }
    .hamburger {
        margin-left: -15px;
        display: block;
        background-color: #333;
        position: relative;
        z-index: 999;
        &__top {
            padding: 30px 35px;
            position: fixed;
            background-color: #333;
            width: 100%;
            z-index: 999;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            margin: 0;
        }
        &__menu {
            width: 40px;
            height: 31px;
            span {
                display: block;
                height: 5px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 8px;
                border-radius: 30px;
                transition: .4s all;
                cursor: pointer;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-active {
                span {
                    margin-bottom: -5px;
                    &:nth-child(1) {
                        transform: translateY(10px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(10px) rotate(45deg);
                    }
                }
            }
        }
        &__inner {
            position: fixed;
            top: 117px;
            background-color: #333;
            width: 100%;
            height: 100vh;
            transition: .5s;
            z-index: 999;
            left: -100%;
            &-active {
                left: 0;
                transition: .6s all;
            }
        }
        &__nav {
            margin: 0 35px;
            padding: 30px 0;
        }
        &__item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-style: normal;
                font-weight: normal;
                font-size: 21px;
                color: #fff;
                transition: all .3s;
                &:hover {
                    opacity: 0.5;
                }
            }
            span {
                color: #fff;
            }
        }
        &__border-bottom {
           border-bottom: 1px solid #fff;
        }
        &__auth {
            display: flex;
            align-items: center;
            svg {
                margin-right: 35px;
                transition: all .3s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        &__networks {
            display: flex;
            align-items: center;
            svg {
                fill: #fff;
                margin-right: 30px;
                transition: all .3s;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    .banner {
        margin-top: 0;
    }
}
@media screen and (max-width: 991px) {
    .header {
        &__row {
            a{
                font-size: 11px;
            }
        }
    }
    .footer {
        &__unit {

            .subtitle {
                font-size: 13px;
            }
            a {
                font-size: 12px;
            }
        }
        &__text {
            font-size: 11px;
        }
    }
}

@media screen and (max-width: 797px) {
    .newsletter {
        &__block {
            flex-direction: column;
            width: 100%;
        }
        &__details {
            margin-bottom: 20px;

        }
    }
    .btn__white-wrap {
        margin-right: 0;
        a {
            margin-right: 19px;
        }
    }
    .footer {
        &__block {
            flex-wrap: wrap;
        }
        &__unit {

        }
    }
    .advices {
         &__block {
             flex-wrap: wrap;
             justify-content: space-around;
         }
     }
    .assortment__unit {
        width: calc(50% - 30px);
    }
}
@media screen and (max-width: 600px) {

    .goods__list {
        justify-content: space-around;
    }
}
@media screen and (max-width: 533px) {
    .newsletter {
        &__details {
            width: 100%;
        }
        &__btn {
            width: 60%;
            &-wrap {

            }
        }
    }
    .btn__white-wrap {
        flex-wrap: wrap;
        padding: 20px;
        input {
            margin-right: 20px;
        }
        a {
            margin: 17px 0 0;
        }
    }
}
@media screen and (max-width: 480px) {
    .assortment__unit {
        width: calc(80% - 30px);
    }
    .advices {
        &__block {
            a {
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 375px) {}




